@charset "UTF-8";
/*Обнуление*/
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* Основные стили */
body.lock {
  overflow: hidden;
}

.container {
  padding: 0 100px;
}

header {
  background-color: coral;
  width: 100%;
  position: fixed;
}

.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}
@media (max-width: 992px) {
  .header__body {
    height: 55px;
  }
}
.header__body nav.header__menu {
  display: flex;
  background-color: coral;
}
.header__body nav.header__menu.active {
  display: block;
  top: 50px;
  width: 100%;
  height: 100%;
  font-size: 2em;
  overflow: auto;
  left: 0;
  text-align: right;
  padding: 20px 10px 20px 10px;
  transition: all 0.3s ease 0s;
  position: fixed;
}
@media (max-width: 992px) {
  .header__body nav.header__menu {
    display: none;
    transition: all 0.3s ease 0s;
  }
}
.header__body nav.header__menu ul.header__list {
  list-style: none;
  display: flex;
  position: relative;
}
@media (max-width: 992px) {
  .header__body nav.header__menu ul.header__list {
    display: block;
  }
}
.header__body nav.header__menu ul.header__list li {
  margin: 0 10px;
}
.header__body .burger__menu {
  display: none;
  position: relative;
}
.header__body .burger__menu.active span {
  transform: scale(0);
}
.header__body .burger__menu.active:before {
  transform: rotate(45deg);
  top: 11px;
}
.header__body .burger__menu.active:after {
  transform: rotate(-45deg);
  bottom: 11px;
}
@media (max-width: 992px) {
  .header__body .burger__menu {
    display: block;
    width: 24px;
    height: 24px;
  }
  .header__body .burger__menu::before {
    content: "";
    background-color: #000;
    width: 100%;
    height: 2px;
    top: 2px;
    position: absolute;
  }
  .header__body .burger__menu::after {
    content: "";
    background-color: #000;
    width: 100%;
    height: 2px;
    bottom: 2px;
    position: absolute;
  }
  .header__body .burger__menu span {
    content: "";
    background-color: #000;
    width: 100%;
    height: 2px;
    left: 0;
    position: absolute;
    top: 11px;
  }
}
.header__body .call-btn {
  display: flex;
  margin: 0 auto;
  text-align: center;
  height: 100%;
  width: 100%;
  padding: 8px 20px;
  border-radius: 55px;
  border: none;
  background-color: rgb(0, 0, 0);
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.header__body .call-btn:hover {
  background-color: rgb(255, 255, 255);
  color: #000;
}

#myModal {
  width: 298px;
  height: 210px;
  padding: 18px 9px;
  border-radius: 4px;
  background: #f3ecec;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: none;
  opacity: 0;
  z-index: 38;
  text-align: left;
}
#myModal input {
  height: 32px;
  width: 85%;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid lightgray;
  background-color: rgb(255, 255, 255);
}
#myModal button.btn-popup {
  display: block;
  text-align: center;
  height: 38px;
  width: 45%;
  margin-bottom: 15px;
  border-radius: 25px;
  border: none;
  background-color: rgb(236, 178, 18);
  color: aliceblue;
}

#myModal #myModal__close {
  width: 5%;
  height: 21px;
  position: absolute;
  top: 16px;
  right: 11px;
  cursor: pointer;
}
#myModal #myModal__close .inner__close {
  content: "";
  height: 2px;
  width: 100%;
  background-color: #000;
  position: absolute;
  top: 0;
  transition: all 0.3s ease 0s;
  rotate: 45deg;
}
#myModal #myModal__close .inner__close:after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: #000;
  position: absolute;
  top: 0;
  transition: all 0.3s ease 0s;
  rotate: 90deg;
}

#myOverlay {
  z-index: 37;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
}

section.content {
  width: 100%;
  margin: 0 auto;
  padding-top: 100px;
}
section.content .scroll-down {
  display: block;
  width: 48px;
  height: 24px;
  position: relative;
  margin: 0 auto;
}
section.content .scroll-down span {
  content: "";
  background-color: #000;
  width: 24px;
  height: 2px;
  top: 2px;
  position: absolute;
  rotate: 18deg;
  display: block;
}
section.content .scroll-down::before {
  content: "";
  background-color: rgb(0, 0, 0);
  width: 24px;
  height: 2px;
  top: 2px;
  left: 20px;
  position: absolute;
  rotate: -18deg;
}
section.content p {
  margin-bottom: 20px;
}
section.content .hidden-p {
  display: none;
}
section.content .hidden-p.p-visible {
  display: inline;
}
section.content .more__button {
  display: flex;
  margin: 0 auto;
  text-align: center;
  height: 32px;
  width: 120px;
  margin-bottom: 15px;
  border-radius: 55px;
  border: none;
  background-color: coral;
  justify-content: center;
  align-items: center;
  color: #000;
  text-decoration: none;
}