@import "reset.css";
@font-face {
  font-family: "Museo Sans";
  src: url(/style/fonts/Museo Sans Cyrl 900) format("ttf");
  font-weight: 400;
}
.favicon {
  fill: #d84d4d;
}
.clearfix {
  clear: both;
}
html {
  font-size: 16px;
}
body {
  font-family: "Museo Sans", sans-serif;
  font-size: 16px;
}
.wrapper {
  padding: 0 15px;
  margin: 0 175px;
}
html {
  font-size: 15px;
}
body {
  font-family: "Museo Sans", sans-serif;
  color: #fff;
  overflow-x: hidden;
  font-size: 17px;
}
ul,
li {
  display: block;
  padding: 0px;
  margin: 0px;
}
.white {
  color: #fff;
}
section {
  padding: 110px 0px 110px 0px;
}
* {
  -moz-transition: all 0.3s ease;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
}
h2 {
  text-transform: uppercase;
  font-size: 2.6rem;
  font-weight: 800;
  color: #1a283a;
  margin-left: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
}
a,
a:hover,
a:active,
a:focus,
button,
input,
button:hover,
button:active,
button:focus,
input:focus,
input:active {
  text-decoration: none;
  outline: none;
}
.container {
  position: relative;
}
.upper {
  text-transform: uppercase;
}
.bolder {
  font-weight: 800;
}
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
.row-no-padding [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
section.first {
  background: url("../img/main.jpg") no-repeat top center;
  width: 100%;
  margin: 0 0 0 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  max-height: 450px;
  padding-bottom: 150px;
}
section.first .header {
  background: rgba(0, 0, 0, 0.25);
  min-height: 64px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  color: #fff;
  z-index: 1;
}
section.first .header .container {
  display: flex;
  justify-content: space-between !important;
}
section.first .header .logo {
  margin-right: 25px;
  display: flex;
}
@media (max-width: 992px) {
  section.first .header .logo {
    flex-grow: 1;
  }
}
section.first .header .navigation {
  position: relative;
  height: 100%;
  display: flex;
  width: 55%;
  height: 77px;
}
@media (max-width: 992px) {
  section.first .header .navigation {
    display: none;
  }
}
section.first .header .navigation ul.header__nav {
  height: 100%;
  position: absolute;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
section.first .header .navigation ul.header__nav li {
  display: block;
  font-size: 0.647rem;
  line-height: 1rem;
  font-family: "Museo Sans", sans-serif;
  font-weight: 800;
  letter-spacing: 0.12rem;
  line-height: 72px;
  float: left;
  height: 4.529rem;
  margin-right: 1.176rem;
}
section.first .header .navigation ul.header__nav li a {
  font-weight: 800;
  letter-spacing: 0.12rem;
  line-height: 72px;
  cursor: pointer;
  color: #fff;
}
section.first .header .navigation ul.header__nav li a:hover {
  color: #23aae2;
}
section.first .header .navigation ul.header__nav li .underline {
  border-bottom: 1px dotted #fff;
  line-height: 22px;
  padding-top: 24px;
}
section.first .header .mob-navigation {
  display: none;
}
section.first .header .phone {
  height: 77px;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media (max-width: 992px) {
  section.first .header .phone {
    flex-grow: 1;
  }
}
@media (max-width: 440px) {
  section.first .header .phone {
    justify-content: space-between;
  }
}
section.first .header .phone .phone1 {
  display: inline-block;
  height: 77px;
  vertical-align: middle;
  line-height: 22px;
  padding: 15px 0 15px 0;
  font-size: 0.941rem;
  font-weight: 900;
}
@media (max-width: 992px) {
  section.first .header .phone .phone1 {
    font-size: 0.7rem;
    font-weight: 900;
  }
}
@media (max-width: 440px) {
  section.first .header .phone .phone1 {
    justify-content: space-between;
    font-size: 0.741rem;
    font-weight: 800;
  }
}
section.first .header .phone .menu__hamburger {
  font-size: 16px;
  color: #fff;
  float: left;
  display: none;
  margin-right: 20px;
}
@media (max-width: 992px) {
  section.first .header .phone .menu__hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
  }
}
section.first .header .phone .call {
  margin-right: 10px;
  content: "";
  border-radius: 50%;
  border: 1px dashed #23aae2;
  height: 37px;
  width: 37px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
section.first .header .phone .call i {
  color: #23aae2;
  line-height: 37px;
}
@media (max-width: 992px) {
  section.first .header .phone .call {
    display: none;
  }
}
section.first .first_content {
  align-items: center;
  text-align: center;
}
section.first .first_content .first_title {
  margin-top: 131px;
}
section.first .first_content .first_title h1 {
  font-size: 5.294rem;
  text-align: center;
  color: #fff;
  letter-spacing: 2.706rem;
  font-weight: 900;
  margin-top: 200px;
  line-height: 4.824rem;
}
section.first .first_content .first_title h3 {
  font-size: 3rem;
  text-align: center;
  color: #fff;
  letter-spacing: 0.676rem;
  font-weight: 700;
  margin-top: 40px;
  line-height: 4.824rem;
}
section.first .first_content .scroll_down {
  width: 100%;
  display: flex;
  justify-content: center;
}
section.first .first_content .scroll_down .scroll_inner {
  content: "";
  border-radius: 50%;
  border: 1px dashed #fff;
  height: 42px;
  width: 42px;
  display: flex;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
}
section.first .first_content .scroll_down .scroll_inner i {
  color: #fff;
  display: block;
}
section.about {
  width: 100%;
  margin: -250px auto 0 auto;
  padding-bottom: 70px;
  background: #f7f7f7;
  color: #000;
}
section.about .container {
  width: 100%;
  margin: 0 auto !important;
}
section.about .container .about__inner {
  background: #fff;
  margin: 50px auto 0 auto;
  width: 79%;
  box-shadow: 0px 3px 2px 0px rgba(160, 160, 160, 0.18);
  padding: 0 100px;
}
@media (max-width: 767px) {
  section.about .container .about__inner {
    padding: 0 10px;
  }
}
section.about .container .about__inner .sentence {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 50px 10px 0px 10px;
}
section.about .container .about__inner .about__padding_box_1 {
  padding: 50px 0;
}
section.about .container .about__inner .about__padding_box_1 .contacts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
@media (max-width: 1200px) {
  section.about .container .about__inner .about__padding_box_1 .contacts {
    flex-direction: row;
  }
}
section.about .container .about__inner .about__padding_box_1 .contacts .cont__1 {
  margin-bottom: 35px;
}
@media (max-width: 1200px) {
  section.about .container .about__inner .about__padding_box_1 .contacts .cont__1 {
    order: 3;
    width: 100%;
    justify-content: center;
    text-align: start;
    display: flex;
  }
}
section.about .container .about__inner .about__padding_box_1 .contacts .cont__1 .cont__1_inner {
  background-image: url("../img/Cell Phone-48.png");
  padding-left: 50px;
}
@media (max-width: 1200px) {
  section.about .container .about__inner .about__padding_box_1 .contacts .cont__1 .cont__1_inner {
    margin: 0 auto;
    flex-basis: auto;
    text-align: center;
  }
}
section.about .container .about__inner .about__padding_box_1 .contacts .cont__1 .cont__1_inner .cont__1__title {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 10px;
}
section.about .container .about__inner .about__padding_box_1 .contacts .cont__1 .cont__1_inner .cont__1__info_1,
section.about .container .about__inner .about__padding_box_1 .contacts .cont__1 .cont__1_inner .cont__1__info_2 {
  font-size: 16px;
  line-height: 24px;
}
section.about .container .about__inner .about__padding_box_1 .contacts .cont__2 {
  margin-bottom: 35px;
}
@media (max-width: 1200px) {
  section.about .container .about__inner .about__padding_box_1 .contacts .cont__2 {
    justify-content: center;
    text-align: start;
    display: flex;
    flex-grow: 1;
  }
}
section.about .container .about__inner .about__padding_box_1 .contacts .cont__2 .cont__2_inner {
  background: url("../img/Email-48.png") no-repeat left center;
  padding-left: 50px;
}
@media (max-width: 1200px) {
  section.about .container .about__inner .about__padding_box_1 .contacts .cont__2 .cont__2_inner {
    margin: 0 auto;
    flex-basis: auto;
    text-align: center;
  }
}
section.about .container .about__inner .about__padding_box_1 .contacts .cont__2 .cont__2_inner .cont__2__title {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 10px;
}
section.about .container .about__inner .about__padding_box_1 .contacts .cont__2 .cont__2_inner .cont__2__info_1 {
  font-size: 16px;
  line-height: 24px;
}
section.about .container .about__inner .about__padding_box_1 .contacts .cont__3 {
  margin-bottom: 35px;
}
@media (max-width: 1200px) {
  section.about .container .about__inner .about__padding_box_1 .contacts .cont__3 {
    justify-content: center;
    text-align: start;
    display: flex;
    flex-grow: 1;
  }
}
section.about .container .about__inner .about__padding_box_1 .contacts .cont__3 .cont__3_inner {
  background: url("../img/Skype-48.png") no-repeat left center;
  padding-left: 50px;
}
@media (max-width: 1200px) {
  section.about .container .about__inner .about__padding_box_1 .contacts .cont__3 .cont__3_inner {
    margin: 0 auto;
    flex-basis: auto;
    text-align: center;
  }
}
section.about .container .about__inner .about__padding_box_1 .contacts .cont__3 .cont__3_inner .cont__3__title {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 10px;
}
section.about .container .about__inner .about__padding_box_1 .contacts .cont__3 .cont__3_inner .cont__3__info_1 {
  font-size: 16px;
  line-height: 24px;
}
section.about .container .about__inner .about__padding_box_1 form {
  padding: 43px 10px;
  background: #23aae2;
  text-align: center;
}
section.about .container .about__inner .about__padding_box_1 form .form__title {
  font-size: 42px;
  font-size: 2.625rem;
  letter-spacing: 1px;
  color: #fff;
}
section.about .container .about__inner .about__padding_box_1 form .form__title h3 {
  font-size: 25px;
  font-size: 1.563rem;
  line-height: 26px;
  letter-spacing: 2.5px;
}
section.about .container .about__inner .about__padding_box_1 form .form__title h3 .smaller {
  font-size: 20px;
  font-size: 1.25rem;
  letter-spacing: 2px;
}
section.about .container .about__inner .about__padding_box_1 form .form__title .form_subtitle {
  font-size: 18px;
  font-size: 1.125rem;
  letter-spacing: 1.8px;
  font-weight: 100;
  display: block;
  margin: 14px 0 24px 0;
  line-height: 34px;
}
section.about .container .about__inner .about__padding_box_1 form .form__title input {
  width: 80%;
  line-height: 3.125rem;
  border: 1px solid #fff;
  border-radius: 5px;
  margin: 5px 0;
  background: rgba(251, 251, 251, 0.1);
  padding: 0 40px;
  font-size: 11px;
  font-size: 0.688rem;
  color: #fff;
}
section.about .container .about__inner .about__padding_box_1 form .form__title input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(251, 251, 251, 0.56);
  text-transform: uppercase;
  font-size: 11px;
  font-size: 0.688rem;
  letter-spacing: 1.1px;
  line-height: 23px;
  line-height: 1.438rem;
}
section.about .container .about__inner .about__padding_box_1 form .form__title input::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(251, 251, 251, 0.56);
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1.1px;
}
section.about .container .about__inner .about__padding_box_1 form .form__title input:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(251, 251, 251, 0.56);
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1.1px;
}
section.about .container .about__inner .about__padding_box_1 form .form__title input:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(251, 251, 251, 0.56);
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1.1px;
}
section.about .container .about__inner .about__padding_box_1 form .form__title a.form__button {
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
  background: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 5px;
  font-size: 15px;
  color: #fff;
  line-height: 50px;
}
section.about .container .about__inner .about__padding_box_1 form .form__title a.form__button:hover {
  background: rgba(251, 251, 251, 0.9);
  border: 1px solid #f1f1f1;
  color: #23aae2;
}
footer {
  background: #23aae2;
  padding: 0 40px;
}
footer .footer {
  line-height: 38px;
}
footer .footer img {
  width: auto;
  height: auto;
}
footer .footer ul.footer__nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  justify-content: left;
  padding-left: 3rem;
}
footer .footer ul.footer__nav li {
  display: inline-block;
  font-size: 0.647rem;
  font-family: "Museo Sans", sans-serif;
  font-weight: 300;
  letter-spacing: 0.12rem;
  margin-right: 1.176rem;
  margin-left: 3.176rem;
}
footer .footer ul.footer__nav li a {
  font-weight: 300;
  letter-spacing: 0.12rem;
  cursor: pointer;
  color: #fff;
}
footer .footer ul.footer__nav li a:hover {
  color: #d1d1d1;
}
footer .footer .phone {
  height: 77px;
  text-align: right;
}
footer .footer .phone .phone1 {
  display: inline-block;
  height: 77px;
  vertical-align: middle;
  line-height: 22px;
  padding: 15px 0 15px 0;
  font-size: 0.941rem;
  font-weight: 900;
}
footer .footer .phone .call {
  margin-right: 10px;
  content: "";
  border-radius: 50%;
  border: 1px dashed #fff;
  height: 37px;
  width: 37px;
  display: inline-block;
  text-align: center;
}
footer .footer .phone .call i {
  color: #fff;
  line-height: 37px;
}

section.about .container {
  width: 100%;
  margin: 0 auto !important;
  padding: 0 !important;
}
@media (max-width: 992px) {
  footer .footer .phone .call {
    display: none;
  }
}
/*===========================MEDIA==============*/
@media (max-width: 1200px) {
  .container {
    width: 1170px !important;
  }
}
@media (max-width: 992px) {
  .container {
    width: 970px !important;
  }
}

@media (max-width: 768px) {
  .container {
    width: 750px !important;
  }
}
@media (max-width: 767px) {
  section.first .header {
    padding: 0 20px !important;
  }
}
